*~
*.log
auto.cgpr
CHANGES
access.xml
acc.xml
*.cproject
*.gb_project
*.project
*.db
ChangeLog
.settings
*.txt
*.gcov
*.mat
*.d.ts
Makefile.conf
lib/
obj/
secure/
web/images/about
Makefile.conf
alire.lock
alire
bin
alire
cover
*.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
storage
*.deb
*.ddeb
*.changes
*.buildinfo
