#tw-top {
  top: 0;
  position: relative;
  width: 100%;
  height: 3em;
}
#awa-hdr {
  background-color: #222;
  border-color: #222;
  height: 3em;
}
.tw-quote {
  float: left;
  width: 100%;
  padding: 2em;
}
.tw-quote blockquote {
  font-style: italic;
}
.tw-quote-author {
  float: right;
}
.wiki-settings {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}
.ui-widget {
  font-size: 1.0em;
}
.ui-button {
  background: var(--button-bg);
}
input:autofill {
  background: var(--bg-autofill);
}
.blog-post {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.blog-post .post-title h2 a {
    color: #414243;
}
.blog-post .post-title {
    background: none;
    padding-left: 0;
}
.blog-post .post-title {
    text-align: center;
}
.blog-post .tagedit-list {
    width: 80%;
    margin: auto;
}
#awa-copyright {
    margin: auto;
    text-align: center;
    background: none;
    float: none;
}
#awa-top {
  float: right;
  position: inherit;
  width: 100%;
  height: 20px;
}

#awa-tool-nav ul {
  float: right;
  font-size: 0.5em;
}
#tw-top-nav li a, #awa-top-nav li a {
  padding-top: 5px;
  height: 1.5em;
}
#tw-top-nav, #awa-tool-nav {
  height: 20px;
  width: 100%;
  padding-top: 0;
}
#awa-hdr li {
  font-size: 1.1em;
}
.awa-menu a {
    height: 1.5em;
}
.tw-hdr.header {
    position: fixed;
    z-index: 10;
    height: 30px;
    width: 100%;
}
#tw-tool-nav .awa-menu a {
    border-bottom: none;
    height: 2em;
    border-radius: 6px;
}
#awa-tools {
    float: left;
}
#awa-tools li {
    float: left;
}
main {
  border-top: 1px solid;
  border-color: var(--border-light);
}

section {
  margin-top: 1em;
  width: 100%;
  padding: 0.5em;
  float: left;
}
section .wiki-text {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  padding: 0.5em;
  width: 100%;
}
section .post-text {
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.wiki-text figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
figure img, .wiki-text img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    height: auto;
    object-fit: contain;
}
div.post-text pre, .wiki-text pre {
    background: none;
    border: none;
}
pre code {
    border-radius: 10px;
    display: block;
    width: 100%;
    background-color: var(--bg-highlight);
    border: 1px solid var(--border-medium);
    padding: 10px;
}
section .wiki-text figcaption {
  text-align: center;
}
section h2 {
  padding-bottom: 0.5em;
}
.twinlife-applications {
  float: left;
  width: 100%;
  padding-top: 1em;
}
.twinlife-applications ul, .twinlife-applications h2 {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  text-align: center;
  padding-top: 0.5em;
}
.twinlife-applications li {
  float: left;
  width: auto;
  margin-left: 2em;
}
.twinlife-applications li:first {
  margin-left: 0;
}
.twinlife-applications img {
    margin-right: 8px;
}
.twinlife-profile {
  margin-bottom: 1em;
}
.twinlife-profile .profile-image {
  width: 192px;
  height: 192px;
  overflow: hidden;
  margin: auto;
}
.twinlife-profile .profile-image img {
  border-radius: 10px;
}
.twinlife-profile .profile-name, .twinlife-profile .profile-role {
  width: 100%;
  text-align: center;
}
.col-sm-12 .page-about h2 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
div.blog-post-info h2 {
    float: left;
    width: 98%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #ccc;
    background: linear-gradient(to right, #333, #ccc);
    color: #fcfcfc;
}
.page-tools .awa-menu #nav-tools,
.page-privacy .awa-menu #nav-privacy,
.page-technology .awa-menu #nav-technology,
.page-about .awa-menu #nav-about,
.page-security .awa-menu #nav-security,
.page-developers .awa-menu #nav-developers,
.page-blog .awa-menu #nav-blogs,
.page-workspace .awa-menu #nav-workspace {
    border-color: #eee;
    display: block;
}
.awa-side-menu:checked ~ nav li {
    display: block;
}
.page-tools #awa-top-nav #nav-tools a,
.page-privacy #awa-top-nav #nav-privacy a,
.page-technology #awa-top-nav #nav-technology a,
.page-about #awa-top-nav #nav-about a,
.page-security #awa-top-nav #nav-security a,
.page-developers #awa-top-nav #nav-developers a,
.page-blog #awa-top-nav #nav-blogs a,
.page-workspace .awa-menu #nav-workspace a {
    background: #eee;
    color: var(--primary-dark);
    border-color: #eee;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.twinlife-version {
  float: left;
  width: 100%;
  margin-bottom: 1em;
}
.twinlife-version ul {
  width: 100%;
  padding-left: 0.5em;
}
.twinlife-version li {
  padding-left: 0;
  margin-left: 0;
  text-align: left;
  font-size: 0.5em;
}
.twinlife-version .sha256 {
  font-size: 0.5em;
}
.tagedit-list li.tagedit-listelement-old {
  background-color: #eee;
}

.tagedit-list li.tagedit-listelement-old:hover {
  background-color: #ddd;
}
.ui-tabs {
  padding: 0;
}
.ui-tabs-nav {
  border-bottom: 1px solid #ccc;
}
dl.awa-required input.tw-code {
  width: 2em;
  margin-right: 1em;
}
article .awa-comment-list {
    padding-left: 5px;
    padding-right: 5px;
}
/**
 * Dark mode support
 */
@media (prefers-color-scheme: dark) {
  :root {
        /* Insert all dark mode variables here */
    --bg-body: #000;
    --primary-dark: #3700b3;

    --bg-notif: #333;
    --bg-highlight: #3b3b3b;
    --border-medium: #4b4b4b;
  }
  body, main, .blog-post, .wiki-page-container, #blog-post-list, #blog-comment-list,
  #wiki-page-list, #document-list-editor, #wiki-page-create, .EasyMDEContainer .CodeMirror,
  .EasyMDEContainer .CodeMirror-gutter-wrapper, .CodeMirror-linenumber, .EasyMDEContainer .CodeMirror-gutters .CodeMirror-linenumber,
  .EasyMDEContainer .CodeMirror-gutters {
    background-color: #000;
    color: #fff;
  }
  section .wiki-text,
  section .post-text {
    background-color: #222;
  }
  .EasyMDEContainer .CodeMirror-cursor {
      border-color: #ccc;
      border-width: 5px;
  }
  .ui-widget.ui-widget-content {
    border-color: #ccc;
  }
  div.comment-COMMENT_PUBLISHED,  div.blog-post-info h2 {
    color: #ccc;
  }
  div.awa-login h2,
  .fa, .editor-toolbar button.heading-1::after, .editor-toolbar button.heading-2::after, .editor-toolbar button.heading-3::after {
      color: #fff;
  }
  .editor-toolbar button:hover .fa {
      color: #424142;
  }
  .asf-delete {
      background: #eee;
  }
  div.post-text a, .blog-post a,
  a.feed,
  ul.blog-pagination li a,
  .awa-post-more a,
  .blog-post-add-comment a,
  .tagedit-list li.tagedit-listelement a,
  .blog-post .post-title h2 a, div.post-text a, ul.tag-cloud a {
    color: #55A6FF;
  }
  .flot-y-axis, .flot-x-axis {
    fill: white;
  }
  div.post-text a, ul.tag-cloud a {
    color: #55A6FF;
    text-decoration: none;
  }
  div.blog-post-tag-info {
      border-color: #6b6b6b;
  }
  div.blog-post-tag-info h2 {
      background-color: #4b4b4b;
  }
  .wiki-text hr {
      background-color: #ccc;
  }
  a.feed:hover,
  .tagedit-list li.tagedit-listelement a:hover,
  ul.blog-pagination li a:hover,
  .blog-post .post-title h2 a:hover, div.post-text a:hover, ul.tag-cloud a:hover,
  div.post-text a:hover, .blog-post a:hover {
    color: #58A6FF;
  }
  div.post-text a:hover, ul.tag-cloud a:hover {
    color: #58A6FF;
  }
  div.awa-comment-list h3,
  a, div.post-text h2, div.post-text h3, div.post-text h4, div.post-text h5,
  .wiki-text h2, .wiki-text h3, .wiki-text h4, .wiki-text h5, .wiki-text h6 {
    color: #ccc;
  }
  .wiki-toc,
  .wiki-img-thumb,
  .wiki-img-caption {
    border-color: #4b4b4b;
  }
  .wiki-image-grid span {
      background-color: #3b3b3b;
      color: #ccc;
  }
  .tagedit-list li.tagedit-listelement-old {
      background-color: #3b3b3b;
      border-color: #bfbfb0;
  }
  div.storage-folder-list div.asf-active {
      color: #4b4b4b;
  }
  div.storage-folder-list div.asf-selected {
      color: #4b4b4b;
  }
  div.storage-folder-list div.asf-active {
      color: #ccc;
  }
  .awa-folder-list-editor div.storage-folder-list div.asf-active {
      color: #4b4b4b;
  }
  .tagedit-list li.tagedit-listelement-old:hover {
      background-color: #4b4b4b;
  }
  .page-tools #awa-top-nav #nav-tools a,
  .page-privacy #awa-top-nav #nav-privacy a,
  .page-technology #awa-top-nav #nav-technology a,
  .page-about #awa-top-nav #nav-about a,
  .page-security #awa-top-nav #nav-security a,
  .page-developers #awa-top-nav #nav-developers a,
  .page-blog #awa-top-nav #nav-blogs a,
  .page-workspace #awa-top-nav #nav-workspace a {
      background: #4b4b4b;
      color: #ccc;
      border-color: #eee;
   }
   div.shape, .ui-widget-content {
      background: #3b3b3b;
      border-color: #4b4b4b;
      color: #ccc;
   }
   main #storage-folder-left-panel {
      background: #3b3b3b;
   }
   main div.ui-list div.asf-active {
      background-color: #5b5b5b;
   }
   .dropzone {
       background: #3b3b3b;
   }
   div.awa-login {
      background: #3b3b3b;
   }
   div.awa-login h2, .awa-button:hover {
      background: #4b4b4b;
   }
   dl.awa-optional label, dl.awa-required label {
      color: #fff;
   }
   input, textarea, #storage-reupload-button {
      background: #3b3b3b;
      color: #ddd;
   }
   .awa-radio input + label {
       background: #7a7a7a;
       color: #555;
       border-color: transparent;
   }
   .awa-radio input:checked + label {
       background: #444;
       color: #fff;
       border-color: #fff;
   }
   .blog-post-format input:checked + label {
      background-color: #dfeffc;/*#b6b6b3;*/
      color: #333;
   }
   div.awa-message, div.awa-message a {
       color: #333;
   }
}
@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
  footer { background: white; color: #555;}
}

/* Reset default margin/padding for the header */
#tw-hdr {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  color: var(--text-header);
  background-color: var(--bg-header);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Top tool navigation (secondary) */
#tw-hdr-tool {
  float: right;
  margin-right: 20px;
  width: 100%;
  height: 24px;
}

#tw-tool-nav {
  font-size: 0.5em;
  float: right;
  height: 2em;
}
/* Style for the hamburger menu (hidden on desktop) */
.awa-hamb-menu {
  padding: 10px 15px;
}

/* Style for the hamburger line */
.awa-hamb-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

.awa-side-nav {
    max-height: 31px;
}

/* Menu items */
.awa-menu li {
  margin: 0 10px;
  position: relative;
}

/* Separator styling */
.awa-nav-separator {
  border-left: 1px solid #ddd;
  height: 20px;
  margin: 0 10px;
}

@media (min-width: 768px) {
    .awa-menu #nav-logout,
    .awa-menu #nav-workspace,
    .page-workspace .awa-menu #nav-workspace {
        display: none;
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .col-sm-12 {
    padding: 0;
  }

  .page-tools .awa-side-menu:checked ~ #awa-top-nav #nav-tools a,
  .page-privacy .awa-side-menu:checked ~ #awa-top-nav #nav-privacy a,
  .page-technology .awa-side-menu:checked ~ #awa-top-nav #nav-technology a,
  .page-about .awa-side-menu:checked ~ #awa-top-nav #nav-about a,
  .page-security .awa-side-menu:checked ~ #awa-top-nav #nav-security a,
  .page-developers .awa-side-menu:checked ~ #awa-top-nav #nav-developers a,
  .page-blog .awa-side-menu:checked ~ #awa-top-nav #nav-blogs a {
      border-radius: 0;
  }
  .blog-post {
      padding: 0;
  }
  .twinlife-applications li {
      margin-left: 8px;
  }
  .twinlife-applications ul, .twinlife-applications h2 {
      width: 375px;
      font-size: 0.5em;
  }
}
